In [1]:
import pandas as pd
# # Tạo ra một series với một list bất kì
s = pd.Series(['Nam', 37, -100234, 'KHMT'])
print(type(s))
print(s)

<class 'pandas.core.series.Series'>
0        Nam
1         37
2    -100234
3       KHMT
dtype: object

In [2]:
bienXe = [29, 89, 34, 15, 52, 99, 98, 43, 18, 17]
cities = pd.Series(bienXe)

In [3]:
print(cities)

0    29
1    89
2    34
3    15
4    52
5    99
6    98
7    43
8    18
9    17
dtype: int64

In [4]:
thanhPho = ['Hanoi', 'Hung Yen', 'Hai Duong', 'Hai Phong',

     'TPHCM', 'Bac Ninh', 'Bac Giang', 'Da Nang', 'Nam Dinh', 'Thai Binh']
cities = pd.Series(bienXe, thanhPho)
print(cities)

Hanoi        29
Hung Yen     89
Hai Duong    34
Hai Phong    15
TPHCM        52
Bac Ninh     99
Bac Giang    98
Da Nang      43
Nam Dinh     18
Thai Binh    17
dtype: int64

In [5]:
# tạo series từ một dictionary, 
# khi đó key sẽ đóng vai trò là index trong series
d = {'Hanoi': 29, 'Hanoi': 29, 'Hung Yen': 89, 'Hai Duong': 34, 'Hai Phong': 15,

     'TPHCM': 52, 'Bac Ninh': 99, 'Bac Giang': 98, 'Da Nang': 43, 'Nam Dinh':18, 'Thai Binh': 17}

cities = pd.Series(d)
print(cities)

Hanoi        29
Hung Yen     89
Hai Duong    34
Hai Phong    15
TPHCM        52
Bac Ninh     99
Bac Giang    98
Da Nang      43
Nam Dinh     18
Thai Binh    17
dtype: int64

In [7]:
print(cities.head()) # thong tin Series 5 phan tu dau tien dai dien

Hanoi        29
Hung Yen     89
Hai Duong    34
Hai Phong    15
TPHCM        52
dtype: int64

In [8]:
print(cities.index)

Index(['Hanoi', 'Hung Yen', 'Hai Duong', 'Hai Phong', 'TPHCM', 'Bac Ninh',
       'Bac Giang', 'Da Nang', 'Nam Dinh', 'Thai Binh'],
      dtype='object')

In [9]:
#  thông tin mô tả về dữ liệu Series
print (cities.describe())

count    10.000000
mean     49.400000
std      33.846713
min      15.000000
25%      20.750000
50%      38.500000
75%      79.750000
max      99.000000
dtype: float64

In [14]:
# thong tin tinh tong
total = 0
for item in cities:
    total += item
print(total)

print(cities.sum())

494
494

In [15]:
# chieu dai 1 du lieu trong series
print(len(cities))

10

In [20]:
# Truy van trong Series
print(cities['Thai Binh'])
print(cities[['Thai Binh', 'TPHCM']])

# dung ham series.iloc[so thu tu hang]
print(cities.iloc[5])
print(cities[cities>50])

17
Thai Binh    17
TPHCM        52
dtype: int64
99
Hung Yen     89
TPHCM        52
Bac Ninh     99
Bac Giang    98
dtype: int64

In [21]:
# thay doi du lieu trong Series
cities_1 = cities - 10
print(cities_1)

Hanoi        19
Hung Yen     79
Hai Duong    24
Hai Phong     5
TPHCM        42
Bac Ninh     89
Bac Giang    88
Da Nang      33
Nam Dinh      8
Thai Binh     7
dtype: int64

In [26]:
print(cities['TPHCM'])
cities['TPHCM'] = 53
print(cities['TPHCM'])

52
53

In [31]:
# DataFrame
# cấu trúc dữ liệu dạng bảng, gồm hàng (index – chỉ số) và cột (name - tên).
# DataFrame là một nhóm các đối tượng Series cùng với các index

# Initializing DataFrame
import os
path = os.getcwd() + '\datasets\iris.csv'
print(path)

C:\Users\Administrator\Moj Pandas\datasets\iris.csv

In [32]:
colume = ['sepal lenght', 'sepal width', 'petal length', 'petal width', 'class']
data = pd.read_csv(path, names=colume)
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [33]:
print(data)

     sepal lenght  sepal width  petal length  petal width      class
0    sepal.length  sepal.width  petal.length  petal.width    variety
1             5.1          3.5           1.4           .2     Setosa
2             4.9            3           1.4           .2     Setosa
3             4.7          3.2           1.3           .2     Setosa
4             4.6          3.1           1.5           .2     Setosa
5               5          3.6           1.4           .2     Setosa
6             5.4          3.9           1.7           .4     Setosa
7             4.6          3.4           1.4           .3     Setosa
8               5          3.4           1.5           .2     Setosa
9             4.4          2.9           1.4           .2     Setosa
10            4.9          3.1           1.5           .1     Setosa
11            5.4          3.7           1.5           .2     Setosa
12            4.8          3.4           1.6           .2     Setosa
13            4.8            3           1.4           .1     Setosa
14            4.3            3           1.1           .1     Setosa
15            5.8            4           1.2           .2     Setosa
16            5.7          4.4           1.5           .4     Setosa
17            5.4          3.9           1.3           .4     Setosa
18            5.1          3.5           1.4           .3     Setosa
19            5.7          3.8           1.7           .3     Setosa
20            5.1          3.8           1.5           .3     Setosa
21            5.4          3.4           1.7           .2     Setosa
22            5.1          3.7           1.5           .4     Setosa
23            4.6          3.6             1           .2     Setosa
24            5.1          3.3           1.7           .5     Setosa
25            4.8          3.4           1.9           .2     Setosa
26              5            3           1.6           .2     Setosa
27              5          3.4           1.6           .4     Setosa
28            5.2          3.5           1.5           .2     Setosa
29            5.2          3.4           1.4           .2     Setosa
..            ...          ...           ...          ...        ...
121           6.9          3.2           5.7          2.3  Virginica
122           5.6          2.8           4.9            2  Virginica
123           7.7          2.8           6.7            2  Virginica
124           6.3          2.7           4.9          1.8  Virginica
125           6.7          3.3           5.7          2.1  Virginica
126           7.2          3.2             6          1.8  Virginica
127           6.2          2.8           4.8          1.8  Virginica
128           6.1            3           4.9          1.8  Virginica
129           6.4          2.8           5.6          2.1  Virginica
130           7.2            3           5.8          1.6  Virginica
131           7.4          2.8           6.1          1.9  Virginica
132           7.9          3.8           6.4            2  Virginica
133           6.4          2.8           5.6          2.2  Virginica
134           6.3          2.8           5.1          1.5  Virginica
135           6.1          2.6           5.6          1.4  Virginica
136           7.7            3           6.1          2.3  Virginica
137           6.3          3.4           5.6          2.4  Virginica
138           6.4          3.1           5.5          1.8  Virginica
139             6            3           4.8          1.8  Virginica
140           6.9          3.1           5.4          2.1  Virginica
141           6.7          3.1           5.6          2.4  Virginica
142           6.9          3.1           5.1          2.3  Virginica
143           5.8          2.7           5.1          1.9  Virginica
144           6.8          3.2           5.9          2.3  Virginica
145           6.7          3.3           5.7          2.5  Virginica
146           6.7            3           5.2          2.3  Virginica
147           6.3          2.5             5          1.9  Virginica
148           6.5            3           5.2            2  Virginica
149           6.2          3.4           5.4          2.3  Virginica
150           5.9            3           5.1          1.8  Virginica

[151 rows x 5 columns]

In [35]:
# Dùng dictionary của các list cho tham số truyền vào, và key của dictionary chính là các index cho DataFrame
data = {'year': [2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],

'team': ['Barca','Inter','Barca','Chelsea','Bayern','Real','Barca','Real'],

'players':['Messi','Messi','Messi','Messi','Ronaldo','Ronaldo','Neymar','Ronaldo'],

'goals': [9, 8, 12, 14, 12, 17, 10, 16]}

football = pd.DataFrame(data)

In [36]:
print(football)

   year     team  players  goals
0  2009    Barca    Messi      9
1  2010    Inter    Messi      8
2  2011    Barca    Messi     12
3  2012  Chelsea    Messi     14
4  2013   Bayern  Ronaldo     12
5  2014     Real  Ronaldo     17
6  2015    Barca   Neymar     10
7  2016     Real  Ronaldo     16

In [44]:
item1 = pd.Series({'Name': 'Hau',
                        'Book1': 'Machine Learning',
                        'Book2': 'Data Mining',
                        'Cost': 22.50})
print(item1)

Name                  Hau
Book1    Machine Learning
Book2         Data Mining
Cost                 22.5
dtype: object

In [45]:
item2 = pd.Series({'Name': 'M.Quy',
                        'Book1': 'Parallel Computing',
                        'Book2': 'Software Engineering',
                        'Cost': 24.10})
print(item2)

Name                    M.Quy
Book1      Parallel Computing
Book2    Software Engineering
Cost                     24.1
dtype: object

In [50]:
item3 = pd.Series({ 'Name': 'Dong',
                        'Book1': 'Rough Set',
                        'Book2': 'Big Data',
                        'Cost': 32.40})

In [52]:
df = pd.DataFrame([item1, item2, item3], 
                  index=['Ebay', 'Amazon', 'Amazon']) 
print(df)

         Name               Book1                 Book2  Cost
Ebay      Hau    Machine Learning           Data Mining  22.5
Amazon  M.Quy  Parallel Computing  Software Engineering  24.1
Amazon   Dong           Rough Set              Big Data  32.4

In [53]:
print(df.head(1))
print(df.tail(1))

     Name             Book1        Book2  Cost
Ebay  Hau  Machine Learning  Data Mining  22.5
        Name      Book1     Book2  Cost
Amazon  Dong  Rough Set  Big Data  32.4

In [54]:
# truy van du lieu trong Frame
print (df['Name']) # ten cot, output series

Ebay        Hau
Amazon    M.Quy
Amazon     Dong
Name: Name, dtype: object

In [55]:
print(df.loc['Amazon']) # ten hang , tra ve DataFrame

         Name               Book1                 Book2  Cost
Amazon  M.Quy  Parallel Computing  Software Engineering  24.1
Amazon   Dong           Rough Set              Big Data  32.4